In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('finalma3.csv')
df

            id  year  driverId    lap  circuit
0            1  2009         1   89.9       14
1            2  2009         1   86.5       14
2            3  2009         1   86.4       14
3            4  2009         1   85.7       14
4            5  2009         1   85.8       14
...        ...   ...       ...    ...      ...
148566  148567  1996        21  100.7        1
148567  148568  1996        21  100.7        1
148568  148569  1996        21  101.8        1
148569  148570  1996        21  100.2        1
148570  148571  1996        21  101.6        1

[148571 rows x 5 columns]

In [12]:
df.dtypes

id            int64
year          int64
driverId      int64
lap         float64
circuit       int64
dtype: object

In [14]:
df

            id  year  driverId    lap  circuit
0            1  2009         1   89.9       14
1            2  2009         1   86.5       14
2            3  2009         1   86.4       14
3            4  2009         1   85.7       14
4            5  2009         1   85.8       14
...        ...   ...       ...    ...      ...
148566  148567  1996        21  100.7        1
148567  148568  1996        21  100.7        1
148568  148569  1996        21  101.8        1
148569  148570  1996        21  100.2        1
148570  148571  1996        21  101.6        1

[148571 rows x 5 columns]

In [15]:
y = df.lap
y

0          89.9
1          86.5
2          86.4
3          85.7
4          85.8
          ...
148566    100.7
148567    100.7
148568    101.8
148569    100.2
148570    101.6
Name: lap, Length: 148571, dtype: float64

In [16]:
x = df.drop('lap',axis=1)
x

            id  year  driverId  circuit
0            1  2009         1       14
1            2  2009         1       14
2            3  2009         1       14
3            4  2009         1       14
4            5  2009         1       14
...        ...   ...       ...      ...
148566  148567  1996        21        1
148567  148568  1996        21        1
148568  148569  1996        21        1
148569  148570  1996        21        1
148570  148571  1996        21        1

[148571 rows x 4 columns]

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [26]:
model = KNeighborsRegressor()

In [27]:
model.fit(x_train, y_train)

KNeighborsRegressor()

In [34]:
yhat = model.predict(x_test)
yhat

array([92.06, 94.78, 93.92, ..., 83.46, 81.12, 86.64])

In [30]:
mae = mean_absolute_error(y_test, yhat)
mae

5.369776880363453

In [45]:
rfr.score(x_test, y_test)

NameError: name 'rfr' is not defined

In [44]:
accuracy = accuracy_score(y_test, yhat)

ValueError: continuous is not supported