In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('finalma3.csv')
df

            id  year  driverId    lap  circuit
0            1  2009         1   89.9       14
1            2  2009         1   86.5       14
2            3  2009         1   86.4       14
3            4  2009         1   85.7       14
4            5  2009         1   85.8       14
...        ...   ...       ...    ...      ...
148566  148567  1996        21  100.7        1
148567  148568  1996        21  100.7        1
148568  148569  1996        21  101.8        1
148569  148570  1996        21  100.2        1
148570  148571  1996        21  101.6        1

[148571 rows x 5 columns]

In [3]:
df['lap']=df['lap'].astype(int)

In [4]:
df

            id  year  driverId  lap  circuit
0            1  2009         1   89       14
1            2  2009         1   86       14
2            3  2009         1   86       14
3            4  2009         1   85       14
4            5  2009         1   85       14
...        ...   ...       ...  ...      ...
148566  148567  1996        21  100        1
148567  148568  1996        21  100        1
148568  148569  1996        21  101        1
148569  148570  1996        21  100        1
148570  148571  1996        21  101        1

[148571 rows x 5 columns]

In [5]:
y = df.lap
y

0          89
1          86
2          86
3          85
4          85
         ...
148566    100
148567    100
148568    101
148569    100
148570    101
Name: lap, Length: 148571, dtype: int32

In [6]:
x = df.drop('lap',axis=1)
x

            id  year  driverId  circuit
0            1  2009         1       14
1            2  2009         1       14
2            3  2009         1       14
3            4  2009         1       14
4            5  2009         1       14
...        ...   ...       ...      ...
148566  148567  1996        21        1
148567  148568  1996        21        1
148568  148569  1996        21        1
148569  148570  1996        21        1
148570  148571  1996        21        1

[148571 rows x 4 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15)

In [9]:
model = KNeighborsRegressor()

In [10]:
model.fit(x_train, y_train)

KNeighborsRegressor()

In [11]:
yhat = model.predict(x_test)
yhat = yhat.astype(int)
yhat

array([85, 78, 87, ..., 90, 94, 80])

In [12]:
mae = mean_absolute_error(y_test, yhat)
mae

5.279816925424033

In [13]:
accuracy = accuracy_score(y_test, yhat)
accuracy*100

39.04244817374136

In [14]:
knn = KNeighborsClassifier()

In [15]:
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [16]:
neighbor_ix = knn.kneighbors(x_test, 1, return_distance=False)
ix = neighbor_ix[:,0]
ix

array([ 28266, 101821,  47510, ..., 115861,  89275,  90176], dtype=int64)

In [17]:
x_train

            id  year  driverId  circuit
9546      9547  2018       839       14
30187    30188  2017         1       13
53852    53853  2007         8        6
102710  102711  2014       824        6
28825    28826  2015        13       13
...        ...   ...       ...      ...
28633    28634  2015       817       13
135191  135192  2017       807        1
56544    56545  2005        15        6
133364  133365  2015       807        1
83898    83899  2006         2        4

[126285 rows x 4 columns]

In [18]:
X_train_neigh, y_train_neigh = x_train[ix], y_train[ix]

KeyError: "None of [Int64Index([ 28266, 101821,  47510,  21648,   6991, 102732, 116424,  25615,\n             16704,  19028,\n            ...\n             92437,  35483, 108253,  69583,  13838,  79904, 101670, 115861,\n             89275,  90176],\n           dtype='int64', length=22286)] are in the [columns]"